/*
*~
*.weechattmp

!/.gitignore
!/.gitignore_global
!/.git-templates
!/.git-commit-template
!/.gitconfig

!/.config
/.config/GIMP
/.config/QDirStat
/.config/QtProject.conf
/.config/Signal
/.config/Trolltech.conf
/.config/dconf
/.config/direnv
/.config/gconf
/.config/gtk-2.0
/.config/gtk-3.0
/.config/hub
/.config/jd-gui.cfg
/.config/keepassxc
/.config/libvirt
/.config/pavucontrol.ini
/.config/pulse
/.config/remmina
/.config/syncthing
/.config/htop
/.config/spicy
/.config/spotify
/.config/virt-viewer
/.config/radare2
/.config/inkscape

/.config/yay/yay_vcs.json


/.config/wireshark/*
!/.config/wireshark/plugins

/.config/fish/fish_history
/.config/fish/fish_read_history
/.config/fish/fishd.*

/.config/nvim/plugged
/.config/nvim/.netrwhist
/.config/nvim/colors

!/.local
/.local/*
!/.local/share
/.local/share/*
!/.local/share/systemd

!/.emacs.d
/.emacs.d/*
!/.emacs.d/config
/.emacs.d/config/*.elc
/.emacs.d/config/config-customize.el
!/.emacs.d/init.el
!/.emacs.d/Cask
!/.emacs.d/snippets

!/.spacemacs.d
/.spacemacs.d/customize.el
/.spacemacs.d/.gdb_history
/.spacemacs.d/.spacemacs.env

!/.themplate

!/.weechat
/.weechat/*.log
/.weechat/python/*.pyc
/.weechat/logs
/.weechat/script/plugins.xml.gz

!/.xmonad
/.xmonad/*
!/.xmonad/xmonad.hs

!/.xmobarrc
!/.ghci

!/.zshrc
!/.zshcomp
!/.xmodmap
!/.Xresources

!/bin
!/.nixpkgs


!/.pwn.conf
!/.gdbinit
!/.pwn.gdbinit
