/*
*~

!/.gitignore
!/.gitignore_global
!/.git-templates
!/.gitconfig

!/.config
/.config/*
!/.config/fish
/.config/fish/fish_history
/.config/fish/fishd.*
!/.config/systemd
!/.config/user-dirs.dirs
!/.conkerorrc

!/.local
/.local/*
!/.local/share
/.local/share/*
!/.local/share/systemd

!/.emacs.d
/.emacs.d/*
!/.emacs.d/config
/.emacs.d/config/*.elc
/.emacs.d/config/config-customize.el
!/.emacs.d/init.el
!/.emacs.d/Cask
!/.emacs.d/snippets

!/.themplate

!/.weechat
/.weechat/*.log
/.weechat/logs
/.weechat/script/plugins.xml.gz

!/.xmonad
/.xmonad/*
!/.xmonad/xmonad.hs

!/.xmobarrc
!/.ghci

!/.zshrc
!/.zshcomp
!/.xmodmap
!/.Xresources

!/bin
!/.nixpkgs
