[user]
	email = benno.fuenfstueck@gmail.com
	name = Benno Fünfstück
[push]
	default = simple
[core]
	pager = less -F -X
	excludesfile = /home/.gitignore_global
	autocrlf = input
	editor = vim
[pull]
	rebase = true
[color]
	ui = 1
[merge]
	conflictstyle = diff3
[rerere]
	enabled = 1
[url "git://github.com/ghc/packages-"]
	insteadOf = git://github.com/ghc/packages/
[init]
	templatedir = ~/.git-templates
	defaultBranch = main
[rebase]
	autoSquash = true
[include]
	# This file should contain the following keys:
	# [github]
	#     oauth-token = <token with gist and repo permissions> (used by emacs)
	path = /home/.gitconfig-private
[github]
	user = bennofs
	oauth-token = xx
[http]
	sslVerify = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	template = ~/.git-commit-template
[sendemail]
	smtpServer = smtp.googlemail.com
	smtpEncryption = tls
	smtpServerPort = 587
	smtpUser = benno.fuenfstueck@gmail.com
