/*
*~

!/.gitignore
!/.gitignore_global

!/.emacs.d
/.emacs.d/*
!/.emacs.d/config
/.emacs.d/config/*.elc
/.emacs.d/config/config-customize.el
!/.emacs.d/init.el
!/.emacs.d/Cask
!/.emacs.d/snippets

!/.themplate
/.themplate/config.cfg

!/.xmonad
/.xmonad/*
!/.xmonad/xmonad.hs

!/.xmobarrc
!/.ghci

!/.zshrc
!/.xmodmap
!/.Xresources

!/bin